<!-- <app-header></app-header>
<h2>Add Donation</h2>
    <form (ngSubmit)="onDonationSubmit()">
      <div>
        <label>Description:</label>
        <input type="text" [(ngModel)]="newDonation.description" name="description">
      </div>
     
      <div>
        <label>Date:</label>
        <input type="date" [(ngModel)]="newDonation.date" name="date">
      </div>
      <div>
        <label>Quantity:</label>
        <input type="number" [(ngModel)]="newDonation.quantite" name="quantity">
      </div>
      <div>
        <label>Association:</label>
        <select [(ngModel)]="newDonation.associations">
          <option *ngFor="let association of associations" [ngValue]="association">{{ association.nom }}</option>
        </select>
      </div>
      <button type="submit">Add Donation</button>
    </form>

    <h2>Donations</h2>
    <div *ngFor="let donation of donations">
      <h3 (click)="onDonationClick(donation.id)">Donation {{ donation.id }}</h3>
      <p>{{ donation.description }}</p>
      <div *ngIf="showAssociations[donation.id]">
        <select [(ngModel)]="selectedAssociation[donation.id]">
          <option *ngFor="let association of associations" [ngValue]="association">{{ association.nom }}</option>
        </select>
        
      </div>
    </div> -->
    <section class="banner-area banner-area2 blog-page text-center">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1><i>Welcome to Our App</i></h1>
                  <h2><a href="/">Home </a> &nbsp;/&nbsp; <a >logout</a></h2>
              </div>
          </div>
      </div>
    </section>
   

<div class="form-container">
  <h2><mat-icon class="form-icon">add_circle</mat-icon> Add Donation</h2>
  <form class="form" (ngSubmit)="onDonationSubmit()">
    <div class="form-group">
      <mat-icon class="form-icon">description</mat-icon>
      <input type="text" [(ngModel)]="newDonation.description" name="description" placeholder="Description">
    </div>
   
    <div class="form-group">
      <mat-icon class="form-icon">event</mat-icon>
      <input type="date" [(ngModel)]="newDonation.date" name="date" placeholder="Date" [value]="todayDate()">
    </div>
    
    <div class="form-group">
      <mat-icon class="form-icon">shopping_cart</mat-icon>
      <input type="number" [(ngModel)]="newDonation.quantite" name="quantity" placeholder="Quantity">
    </div>
    
    <div class="form-group">
      <mat-icon class="form-icon">people_alt</mat-icon>
      <mat-form-field appearance="outline">
        <mat-label>Association</mat-label>
        <mat-select [(ngModel)]="newDonation.associations" name="association">
          <mat-option *ngFor="let association of associations" [value]="association">{{ association.nom }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <button type="submit" class="submit-btn"><mat-icon>add_circle_outline</mat-icon> Add Donation</button>
  </form>

  <h2><mat-icon class="form-icon">donut_large</mat-icon> Donations</h2>
  <div *ngFor="let donation of donations" class="donation-container">
    <h3 (click)="onDonationClick(donation.id)"><mat-icon>payment</mat-icon> Donation {{ donation.id }}</h3>
    <p><mat-icon>description</mat-icon> {{ donation.description }}</p>
    <div *ngIf="showAssociations[donation.id]" class="form-group">
      <mat-icon class="form-icon">people_alt</mat-icon>
      <mat-form-field appearance="outline">
        <mat-label>Association</mat-label>
        <mat-select [(ngModel)]="selectedAssociation[donation.id]" name="association">
          <mat-option *ngFor="let association of associations" [value]="association">{{ association.nom }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
